* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.container1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container1.homepage-01 {
  background-image: url(./../imagens/home/01.jpg);
}
.container1.homepage-02 {
  background-image: url(./../imagens/home/03.jpg);
}
.container1.homepage-03 {
  background-image: url(./../imagens/home/02.gif);
}
.container1.homepage-04 {
  background-image: url(./../imagens/home/04.jpg);
}
.container1.falcon9page-01 {
  background-image: url(./../imagens/falcon9/01.jpg);
}
.container1.falcon9page-02 {
  background-image: url(./../imagens/falcon9/02.jpg);
}
.container1.falcon9page-03 {
  background-image: url(./../imagens/falcon9/03.jpg);
}
.container1.falcon9page-11 {
  background-image: url(./../imagens/falcon9/04.jpg);
}
.container1.falcon9page-12 {
  background-image: url(./../imagens/falcon9/05.jpg);
}
.container1.falcon9page-13 {
  background-image: url(./../imagens/falcon9/06.jpg);
}
.container1.falcon9page-14 {
  background-image: url(./../imagens/falcon9/07.jpg);
}
.container1.falcon9page-04 {
  background-image: url(./../imagens/falcon9/08.jpg);
}
.container1.falcon9page-05 {
  background-image: url(./../imagens/falcon9/09.jpg);
}
.container1.falcon9page-06 {
  background-image: url(./../imagens/falcon9/10.jpg);
}
.container1.falcon9page-07 {
  background-image: url(./../imagens/falcon9/11.jpg);
}
.container1.falcon9page-08 {
  background-image: url(./../imagens/falcon9/12.jpg);
}
.container1.falcon9page-09 {
  background-image: url(./../imagens/falcon9/13.jpg);
}
.container1.falcon9page-10 {
  background-image: url(./../imagens/falcon9/14.jpg);
}
.container1.humanflightpage-01 {
  background-image: url(./../imagens/humanflight/01.jpg);
}
.container1.humanflightpage-02 {
  background-image: url(./../imagens/humanflight/02.jpg);
}
.container1.humanflightpage-03 {
  background-image: url(./../imagens/humanflight/03.jpg);
}
.container1.humanflightpage-04 {
  background-image: url(./../imagens/humanflight/04.jpg);
}
.container1.humanflightpage-05 {
  background-image: url(./../imagens/humanflight/05.jpg);
}
.container1 .navbar-brand-logo {
  width: 240px;
  margin-right: 20px;
  margin-left: -2px;
}
.container1 .navbar-nav {
  font-size: 12px;
  font-weight: bold;
}

.titlePadding {
  padding-top: 200px;
}
.titlePadding .titlePadding-moreButton {
  border: 2px solid;
  margin-top: 3rem;
  padding: 15px 35px;
}
.titlePadding .titlePadding-moreButton-end {
  border: 2px solid;
  margin-top: 0px;
  padding: 15px 35px;
}
.titlePadding .titlePadding-arrowDown {
  width: 90px;
  justify-self: center;
}
.titlePadding .titlePadding-moreButton-humanFlight {
  border: 1px solid;
  margin-top: 1.5rem;
  padding: 15px 35px;
}

.titlePadding-description {
  text-align: center;
  width: 800px;
  margin: 77px auto 93px auto;
  padding: 0;
  font-size: 20px;
  color: #d8d8d8;
}
.titlePadding-description .color-link {
  color: #ffffff;
  text-decoration: none;
}

.titlePaddingHumanFlight {
  padding-top: 30vh;
  margin-left: 5vw;
  width: auto;
}
.titlePaddingHumanFlight .h1 {
  font-size: 60px;
  font-weight: bold;
}

.titlePaddingHumanFlightRightSide {
  padding-top: 30vh;
  margin-left: 53vw;
  max-width: fit-content;
}

.titleHumanFlight {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titleHumanFlight h1 {
  font-size: 120px;
}
.titleHumanFlight p {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 300;
}
.titleHumanFlight img {
  padding-top: 40px;
  width: 130px;
}

.falcon9-title-container {
  height: 79.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.falcon9-title {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 514;
  text-align: center;
}
.falcon9-title .falcon9-title-h1 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  margin-bottom: -10px;
}

.numbers-status-falcon9 {
  display: flex;
  text-align: center;
  padding: 10vh 15px;
  margin: 0px;
}
.numbers-status-falcon9 .numbers-status-falcon9-h1 {
  font-size: 96px;
}
.numbers-status-falcon9 .numbers-status-falcon9-description {
  font-size: 20px;
}

.falcon9-description {
  max-width: 650px;
  margin-left: 14vw;
  padding-top: 26vh;
  font-size: 22px;
  line-height: 3rem;
}

.table-items-falcon9 {
  padding-top: 30vh;
  font-size: 16px;
  margin-left: 10vw;
  max-width: 500px;
}

.table-container tr {
  color: white;
}
.table-container .table-td-end {
  text-align: end;
}

.carrousel-description-space {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 35px;
}

.carrousel-description {
  background-color: #000000;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

.container-humanFlight-footer {
  padding-top: 100px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.container-humanFlight-footer .email {
  color: #b9b9b9;
  text-decoration: none;
}
.container-humanFlight-footer .email:hover {
  color: #ffffff;
}
.container-humanFlight-footer a {
  color: #ffffff;
  text-decoration: none;
}
.container-humanFlight-footer a:hover {
  color: #000000;
}

.footer {
  text-align: center;
  margin-bottom: 65px;
  margin-top: 65px;
  font-size: 12px;
  font-weight: 500;
}
.footer span {
  color: #555252;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  color: #b9b9b9;
}

/*# sourceMappingURL=style.css.map */
