* {
    padding: 0px;
    margin: 0px;
}

body {

    background-color: $background-color;
    color: $color;
}

.container1 {
    &.homepage-01 {
        background-image: url(./../imagens/home/01.jpg);
    }
    &.homepage-02 {
        background-image: url(./../imagens/home/03.jpg);
    }
    &.homepage-03 {
        background-image: url(./../imagens/home/02.gif);
    }
    &.homepage-04 {
        background-image: url(./../imagens/home/04.jpg);
    }

    &.falcon9page-01 {
        background-image: url(./../imagens/falcon9/01.jpg);
    }
    &.falcon9page-02 {
        background-image: url(./../imagens/falcon9/02.jpg);
    }

    &.falcon9page-03 {
        background-image: url(./../imagens/falcon9/03.jpg);
    }
    &.falcon9page-11 {
        background-image: url(./../imagens/falcon9/04.jpg);
    }
    &.falcon9page-12 {
        background-image: url(./../imagens/falcon9/05.jpg);
    }
    &.falcon9page-13 {
        background-image: url(./../imagens/falcon9/06.jpg);
    }
    &.falcon9page-14 {
        background-image: url(./../imagens/falcon9/07.jpg);
    }

    &.falcon9page-04 {
        background-image: url(./../imagens/falcon9/08.jpg);
    }
    &.falcon9page-05 {
        background-image: url(./../imagens/falcon9/09.jpg);
    }
    &.falcon9page-06 {
        background-image: url(./../imagens/falcon9/10.jpg);
    }
    &.falcon9page-07 {
        background-image: url(./../imagens/falcon9/11.jpg);
    }
    &.falcon9page-08 {
        background-image: url(./../imagens/falcon9/12.jpg);
    }
    &.falcon9page-09 {
        background-image: url(./../imagens/falcon9/13.jpg);
    }
    &.falcon9page-10 {
        background-image: url(./../imagens/falcon9/14.jpg);
    }

    &.humanflightpage-01 {
        background-image: url(./../imagens/humanflight/01.jpg);
        
    }
    &.humanflightpage-02 {
        background-image: url(./../imagens/humanflight/02.jpg);
    }
    &.humanflightpage-03 {
        background-image: url(./../imagens/humanflight/03.jpg);
    }
    &.humanflightpage-04 {
        background-image: url(./../imagens/humanflight/04.jpg);
    }
    &.humanflightpage-05 {
        background-image: url(./../imagens/humanflight/05.jpg);
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    .navbar-brand-logo {
        width: 240px;
        margin-right: 20px;
        margin-left: -2px;
    }
    .navbar-nav {
        font-size: 12px;
        font-weight: bold;
    }
}

.titlePadding {
    padding-top: 200px;
    .titlePadding-moreButton {
        border: 2px solid;
        margin-top: 3rem;
        padding: 15px 35px;
    }
    .titlePadding-moreButton-end {
        border: 2px solid;
        margin-top: 0px;
        padding: 15px 35px;
    }
    .titlePadding-arrowDown {
        width: 90px;
        justify-self: center;
    }
    .titlePadding-moreButton-humanFlight {
        border: 1px solid;
        margin-top: 1.5rem;
        padding: 15px 35px;
    }
}

.titlePadding-description {
    text-align: center;
    width: 800px;
    margin: 77px auto 93px auto;
    padding: 0;
    font-size: 20px;
    color: $color-description;
    .color-link{
        color: $color;
        text-decoration: none;
    }       
}
.titlePaddingHumanFlight {
    padding-top: 30vh;
    margin-left: 5vw;
    width: auto;
    // max-width: fit-content;
    .h1 {
        font-size: 60px;
        font-weight: bold;
    }
}

.titlePaddingHumanFlightRightSide {
    padding-top: 30vh;
    margin-left: 53vw;
    max-width: fit-content;
}

.titleHumanFlight {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 120px;
    }
    p {
        padding-top: 20px;
        font-size: 30px;
        font-weight: 300;
    }
    img {
        padding-top: 40px;
        width: 130px;
    }
}

.falcon9-title-container {
    height: 79.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.falcon9-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 514;
    text-align: center;
    .falcon9-title-h1 {
        font-size: 90px;
        font-family: "Rubik", sans-serif;
        margin-bottom: -10px;
    }

}

.numbers-status-falcon9 {
    display: flex;
    text-align: center;
    padding: 10vh 15px;
    margin: 0px;
    & .numbers-status-falcon9-h1 {
        font-size: 96px;
    }
    .numbers-status-falcon9-description {
        font-size: 20px;
    }
}

.falcon9-description {
    max-width: 650px;
    margin-left: 14vw;
    padding-top: 26vh;
    font-size: 22px;
    line-height: 3rem;
}

.table-items-falcon9 {
    padding-top: 30vh;
    font-size: 16px;
    margin-left: 10vw;
    max-width: 500px;
}
.table-container {
    tr {
        color: white;
    }
    .table-td-end {
        text-align: end;
    }
}

.carrousel-description-space {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 35px;
}
.carrousel-description {
    background-color: $background-color;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
}

.container-humanFlight-footer {
    padding-top: 100px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    .email {
        color: $color-hover;
        text-decoration: none;
        &:hover {
            color: $color;
        }
    }
    a {
        color: $color;
        text-decoration: none;
        &:hover {
            color: $background-color;
        }
    }

}

.footer {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 65px;
    font-size: 12px;
    font-weight: 500;
    span {
        color: $copy-color;
    }
    a {
        color: $color;
        text-decoration: none;
        &:hover {
            color: $color-hover;
        }
    }
}